/*
 * This file is adapted from the default style
 * https://github.com/antfu/markdown-it-github-alerts/blob/main/styles/github-base.css
 */

$-alert-types: ("tip", "note", "important", "warning", "caution");

.markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 16px;
  color: inherit;
  border-left: 0.25em solid;

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  &.markdown-alert-title {
    display: flex;
    font-weight: 500;
    align-items: center;
    line-height: 1;

    &.octicon {
      margin-right: 0.5rem;
      display: inline-block;
      overflow: visible !important;
      vertical-align: text-bottom;
      fill: currentColor;
    }
  }

  @each $type in $-alert-types {
    &.markdown-alert-#{$type} {
      border-left-color: var(--alert-#{$type}-color);
      background-color: color-mix(
        in srgb,
        var(--alert-#{$type}-color),
        transparent 95%,
      );

      &.markdown-alert-title {
        color: var(--alert-#{$type}-color);
      }
    }
  }
}
