/*
 * This file defines additional styles for Shiki code blocks, including custom transformers.
 * A lot of these are referenced from https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/components/vp-doc.css
 */

// inline code
code {
  :not(pre, h1, h2, h3, h4, h5, h6) > & {
    font-size: var(--code-font-size);
    color: var(--code-color);
  }

  :not(pre) > & {
    border-radius: 4px;
    padding: 3px 6px;
    background-color: var(--code-bg);
    transition: color 0.25s, background-color 0.5s;
  }

  a > & {
    color: var(--code-link-color);
  }

  a:hover > & {
    color: var(--code-link-hover-color);
  }

  @for $i from 1 through 4 {
    h#{$i} > & {
      font-size: 0.9em;
    }
  }
}

.line:not(.focused) {
  pre.has-focused > [class^="language-"] & {
    filter: blur(0.095rem);
    opacity: 0.7;
    transition: filter 0.35s, opacity 0.35s;
  }

  pre.has-focused > [class^="language-"]:hover & {
    filter: blur(0);
    opacity: 1;
  }
}

pre {
  border-radius: 8px;
  margin: 16px 0;
}

pre > code[class^="language-"] {
  display: block;
  padding: 0 24px;
  width: fit-content;
  min-width: 100%;
  line-height: var(--code-line-height);
  font-size: var(--code-font-size);
  color: var(--code-block-color);
  transition: color 0.5s;

  & .highlighted-word {
    background-color: var(--code-line-highlight-color);
    border: 1px solid var(--code-border);
    padding: 1px 3px;
    margin: -1px -3px;
    border-radius: 4px;
  }

  & .highlighted {
    background-color: var(--code-line-highlight-color);
    transition: background-color 0.5s;
    margin: 0 -24px;
    padding: 0 24px;
    width: calc(100% + 48px);
    display: inline-block;

    $-error-levels: ("error", "warning");
    @each $level in $-error-levels {
      &.#{$level} {
        background-color: var(--code-line-#{$level}-color);
      }
    }
  }

  & .diff {
    transition: background-color 0.5s;
    margin: 0 -24px;
    padding: 0 24px;
    width: calc(100% + 2 * 24px);
    display: inline-block;

    &::before {
      position: absolute;
      left: 10px;
    }

    $-diff-types: ("add": "+", "remove": "-");
    @each $type, $symbol in $-diff-types {
      &.#{$type} {
        background-color: var(--code-line-diff-#{$type}-color);

        &::before {
          content: $symbol;
          color: var(--code-line-diff-#{$type}-symbol-color);
        }
      }
    }
  }
}
