// TODO: configure fallback for common fonts
// Ref: https://byteofdev.com/posts/speed-up-font-loading/

@use "utils";

$-iosevka-fonts: ("", "aile");

@mixin -font-face($italic: false, $bold: false) {
  font-display: swap;
  font-weight: if($bold, 700, 400);
  font-stretch: normal;
  font-style: if($italic, italic, normal);
}

@mixin -font-iosevka($variant, $suffix) {
  $-is-special-variant: $variant != "";
  $-variant-suffix: "-" + $variant;
  $-variant-name: " " + utils.capitalize($variant);

  font-family: "Iosevka#{if($-is-special-variant, $-variant-name, null)} Web";
  src: url("https://cdn.folliehiyuki.com/fonts/iosevka/iosevka#{if(
      $-is-special-variant,
      $-variant-suffix,
      null,
    )}-#{$suffix}.woff2") format("woff2");
}

@each $variant in $-iosevka-fonts {
  @font-face {
    @include -font-face();
    @include -font-iosevka($variant, "regular");
  }

  @font-face {
    @include -font-face($italic: true);
    @include -font-iosevka($variant, "italic");
  }

  @font-face {
    @include -font-face($bold: true);
    @include -font-iosevka($variant, "bold");
  }

  @font-face {
    @include -font-face($italic: true, $bold: true);
    @include -font-iosevka($variant, "bolditalic");
  }
}
