@use "sass:color";
@use "sass:map";

// Basic colors
:root {
  --color-blue: #5e81ac;
  --color-cyan: #88c0d0;
  --color-green: #a3be8c;
  --color-yellow: #ebcb8b;
  --color-red: #bf616a;
  --color-magenta: #b48ead;

  @media (prefers-color-scheme: dark) {
    --color-blue: #81a1c1;
  }
}

// markdown-it-github-alerts
:root {
  --alert-tip-color: var(--color-green);
  --alert-note-color: var(--color-blue);
  --alert-important-color: var(--color-magenta);
  --alert-warning-color: var(--color-yellow);
  --alert-caution-color: var(--color-red);
}

// Shiki transformers
// Ref: https://github.com/catppuccin/nvim/tree/main/lua/catppuccin/groups
:root {
  // Latte
  $-catppuccin: (
    "rosewater": #dc8a78,
    "flamingo": #dd7878,
    "pink": #ea76cb,
    "mauve": #8839ef,
    "red": #d20f39,
    "maroon": #e64553,
    "peach": #fe640b,
    "yellow": #df8e1d,
    "green": #40a02b,
    "teal": #179299,
    "sky": #04a5e5,
    "sapphire": #209fb5,
    "blue": #1e66f5,
    "lavender": #7287fd,
    "text": #4c4f69,
    "subtext1": #5c5f77,
    "subtext0": #6c6f85,
    "overlay2": #7c7f93,
    "overlay1": #8c8fa1,
    "overlay0": #9ca0b0,
    "surface2": #acb0be,
    "surface1": #bcc0cc,
    "surface0": #ccd0da,
    "base": #eff1f5,
    "mantle": #e6e9ef,
    "crust": #dce0e8,
  );

  --code-line-highlight-color: #{color.mix(
    map.get($-catppuccin, "mantle"),
    map.get($-catppuccin, "base"),
    $weight: 70%,
  )};

  @media (prefers-color-scheme: dark) {
    // Macchiato
    $-catppuccin: (
      "rosewater": #f4dbd6,
      "flamingo": #f0c6c6,
      "pink": #f5bde6,
      "mauve": #c6a0f6,
      "red": #ed8796,
      "maroon": #ee99a0,
      "peach": #f5a97f,
      "yellow": #eed49f,
      "green": #a6da95,
      "teal": #8bd5ca,
      "sky": #91d7e3,
      "sapphire": #7dc4e4,
      "blue": #8aadf4,
      "lavender": #b7bdf8,
      "text": #cad3f5,
      "subtext1": #b8c0e0,
      "subtext0": #a5adcb,
      "overlay2": #939ab7,
      "overlay1": #8087a2,
      "overlay0": #6e738d,
      "surface2": #5b6078,
      "surface1": #494d64,
      "surface0": #363a4f,
      "base": #24273a,
      "mantle": #1e2030,
      "crust": #181926,
    );

    --code-line-highlight-color: #{color.mix(
      map.get($-catppuccin, "surface0"),
      map.get($-catppuccin, "base"),
      $weight: 64%,
    )};
  }
}
